[credential]
	helper = osxkeychain
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset %C(cyan)%an%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
        hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	co = checkout
	st = status
	sub = submodule update
	recent = ! git reflog | grep 'checkout: moving from' | head -n 50 | egrep -oh ' \\S+$' | awk '!x[$0]++'
	pushf = push --force-with-lease
	mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = Dan Seely
	email = dan@danseely.net
[core]
	editor = vim
[pull]
	ff = only

; use AdAdapted user email for AdAdapted repos
; include for all repositories inside $HOME/dev/adadapted
[includeIf "gitdir:~/dev/adadapted/"]
	path = ~/dev/adadapted/.gitconfig
